extends layout

block content

  //display section
  #display
    h2= headline
    //-var imgPri ="http:\\/\\/target.scene7.com\\/is\\/image\\/Target\\/14263758"

    //img#primary(src=primaryImg)
    #carousel-custom.carousel.slide(data-ride="carousel")
      .carousel-outer
        .carousel-inner
          .item.active
            img(src=primaryImg)
          .item
            img(src=primaryImg + "_Alt02")
          .item
            img(src=primaryImg + "_Alt03")
          .item
            img(src=primaryImg + "_Alt04")
          .item
            img(src=primaryImg + "_Alt05")
          .item
            img(src=primaryImg + "_Alt06")
          .item
            img(src=primaryImg + "_Alt07")

        //a.left.carousel-control(href='#carousel-example-generic' data-slide='prev')
        //  span.glyphicon.glyphicon-chevron-left
        //a.right.carousel-control(href='#carousel-example-generic' data-slide='next')
        //  span.glyphicon.glyphicon-chevron-right

  //info section
  #info
    .price
      h3= price
      div #{qualifier}
    hr
    .callOut
      p #{callOut}
    hr
    .order
      //quanity input
      .quanity Quantity
        input(type='number')
      .btnPanel
        //pick up in store button
        input(type='button' value='PICK UP IN STORE')
        //add to cart button
        input(type='button' value='ADD TO CART')
    .returns
    .options
    .highlights
      h3 product highlights
      //ul
      //  -
      //    if(highlights)
      //    each line in higlights
      //      li=line

  //review section
  #review REVIEWS
    //pros
    .pros
    //cons






